################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Cern/bin/Debug/netstandard2.1/ja-JP/Cern.Colt.resources.dll
*.nupkg
*.dll
*.dll
*.nuspec
*.cache
*.pdb
/Cern/obj/Debug/netstandard2.1
/Cern/bin/Debug/netstandard2.1/Cern.Colt.deps.json
/Cern/bin/Debug/netstandard2.1/Cern.Colt.pdb
/Cern/obj/project.nuget.cache
/Cern/obj/project.assets.json
/Cern/obj/Cern.Colt.csproj.nuget.g.targets
/Cern/obj/Cern.Colt.csproj.nuget.g.props
/Cern/obj/Cern.Colt.csproj.nuget.dgspec.json
/Cern.Colt.Tests/bin/Debug/netcoreapp3.1/ja-JP/Cern.Colt.resources.dll
/Cern.Colt.Tests/bin/Debug/netcoreapp3.1/Cern.Colt.dll
/Cern.Colt.Tests/bin/Debug/netcoreapp3.1/Cern.Colt.pdb
/Cern.Colt.Tests/bin/Debug/netcoreapp3.1/Cern.Colt.deps.json
/Cern.Colt.Tests/bin/Debug/netcoreapp3.1/Cern.Colt.Tests.dll
/Cern.Colt.Tests/bin/Debug/netcoreapp3.1/Cern.Colt.Tests.pdb
/Cern.Colt.Tests/obj/Debug/netcoreapp3.1/Cern.Colt.Tests.csproj.AssemblyReference.cache
/Cern.Colt.Tests/obj/Debug/netcoreapp3.1/Cern.Colt.Tests.dll
/Cern.Colt.Tests/obj/Cern.Colt.Tests.csproj.nuget.dgspec.json
/Cern.Colt.Tests/obj/project.assets.json