################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Cern/bin/Debug/netstandard2.1/ja-JP/Cern.Colt.resources.dll
*.nupkg
*.dll
*.pdb
*.nuspec
*.cache
/Cern/obj/project.assets.json
/Cern/obj/Cern.Colt.csproj.nuget.g.targets
/Cern/obj/Cern.Colt.csproj.nuget.g.props
/Cern/obj/Cern.Colt.csproj.nuget.dgspec.json
/Cern.Colt.Tests/bin/Debug/netcoreapp3.1/ja-JP/Cern.Colt.resources.dll
/Cern.Colt.Tests/bin/Debug/netcoreapp3.1/Cern.Colt.dll
/Cern.Colt.Tests/bin/Debug/netcoreapp3.1/Cern.Colt.pdb
/Cern.Colt.Tests/bin/Debug/netcoreapp3.1/Cern.Colt.deps.json
/Cern.Colt.Tests/bin/Debug/netcoreapp3.1/Cern.Colt.Tests.dll
/Cern.Colt.Tests/bin/Debug/netcoreapp3.1/Cern.Colt.Tests.pdb
/Cern.Colt.Tests/obj/Debug/netcoreapp3.1/Cern.Colt.Tests.csproj.AssemblyReference.cache
/Cern.Colt.Tests/obj/Debug/netcoreapp3.1/Cern.Colt.Tests.dll
/Cern.Colt.Tests/obj/Cern.Colt.Tests.csproj.nuget.dgspec.json
/Cern.Colt.Tests/obj/project.assets.json
Cern/obj/Debug/netstandard2.1/Cern.Colt.Properties.Resources.resources
Cern/obj/Debug/netstandard2.1/Cern.Colt.Properties.Resource.ja-JP.resources
Cern/obj/Debug/netstandard2.1/Cern.Colt.GeneratedMSBuildEditorConfig.editorconfig
Cern/obj/Debug/netstandard2.1/Cern.Colt.csproj.FileListAbsolute.txt
Cern/obj/Debug/netstandard2.1/Cern.Colt.AssemblyInfo.cs
Cern/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
Cern/bin/Debug/netstandard2.1/Cern.Colt.deps.json
Cern.Colt.Tests/bin/Debug/netcoreapp3.1/Cern.Colt.Tests.deps.json
Cern.Colt.Tests/bin/Debug/netcoreapp3.1/Cern.Colt.Tests.runtimeconfig.dev.json
Cern.Colt.Tests/bin/Debug/netcoreapp3.1/Cern.Colt.Tests.runtimeconfig.json
Cern.Colt.Tests/obj/Cern.Colt.Tests.csproj.nuget.g.props
Cern.Colt.Tests/obj/Cern.Colt.Tests.csproj.nuget.g.targets
Cern.Colt.Tests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Cern.Colt.Tests/obj/Debug/netcoreapp3.1/Cern.Colt.Tests.AssemblyInfo.cs
Cern.Colt.Tests/obj/Debug/netcoreapp3.1/Cern.Colt.Tests.csproj.CopyComplete
Cern.Colt.Tests/obj/Debug/netcoreapp3.1/Cern.Colt.Tests.csproj.FileListAbsolute.txt
Cern.Colt.Tests/obj/Debug/netcoreapp3.1/Cern.Colt.Tests.GeneratedMSBuildEditorConfig.editorconfig
