################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Cern/bin/Debug/Cern.Colt.NET.0.9.0.9.nupkg
/Cern/bin/Debug/Cern.Colt.NET.0.9.0.8.nupkg
/Cern/bin/Debug/Cern.Colt.NET.0.9.0.7.nupkg
/Cern/bin/Debug/Cern.Colt.NET.0.9.0.6.nupkg
/Cern/bin/Debug/Cern.Colt.NET.0.9.0.5.nupkg
/Cern/bin/Debug/Cern.Colt.NET.0.9.0.4.nupkg
/Cern/bin/Debug/Cern.Colt.NET.0.9.0.3.nupkg
/Cern/bin/Debug/Cern.Colt.NET.0.9.0.2.nupkg
/Cern/bin/Debug/Cern.Colt.NET.0.9.0.1.nupkg
/Cern/obj/Debug/netstandard2.1/Cern.Colt.GeneratedMSBuildEditorConfig.editorconfig
/Cern/obj/Debug/netstandard2.1/Cern.Colt.csproj.AssemblyReference.cache
/Cern/obj/Debug/Cern.Colt.NET.0.9.0.9.nuspec
/Cern/obj/Debug/Cern.Colt.NET.0.9.0.8.nuspec
/Cern/obj/Debug/Cern.Colt.NET.0.9.0.7.nuspec
/Cern/obj/Debug/Cern.Colt.NET.0.9.0.6.nuspec
/Cern/obj/Debug/Cern.Colt.NET.0.9.0.5.nuspec
/Cern/obj/Debug/Cern.Colt.NET.0.9.0.4.nuspec
/Cern/obj/Debug/Cern.Colt.NET.0.9.0.3.nuspec
/Cern/obj/Debug/Cern.Colt.NET.0.9.0.2.nuspec
/Cern/obj/Debug/Cern.Colt.NET.0.9.0.1.nuspec
/Cern.Colt.Tests/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
/Cern.Colt.Tests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
/Cern.Colt.Tests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Security.AccessControl.dll
/Cern.Colt.Tests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/Microsoft.Win32.Registry.dll
/Cern.Colt.Tests/bin/Debug/netcoreapp3.1/testhost.exe
/Cern.Colt.Tests/bin/Debug/netcoreapp3.1/System.Security.Principal.Windows.dll
/Cern.Colt.Tests/bin/Debug/netcoreapp3.1/System.Security.AccessControl.dll
/Cern.Colt.Tests/bin/Debug/netcoreapp3.1/nunit.engine.core.dll
/Cern.Colt.Tests/bin/Debug/netcoreapp3.1/Microsoft.Win32.Registry.dll
/Cern.Colt.Tests/obj/Debug/netcoreapp3.1/Cern.Colt.Tests.GeneratedMSBuildEditorConfig.editorconfig
/Cern.Colt.Tests/obj/Debug/netcoreapp3.1/Cern.Colt.Tests.csproj.AssemblyReference.cache
